version: "3.9"
services:
  queue:
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
  db:
    environment:
      - MYSQL_ROOT_PASSWORD=679b0e02-3df1-42b8-af8a-f197c6fc7aef
  worker:
    image: localhost:5000/hermes-worker:latest
    environment: 
      - ConnectionString=Server=hermes_db;Database=hermes;Uid=root;Pwd=679b0e02-3df1-42b8-af8a-f197c6fc7aef;
  api:
    image: localhost:5000/hermes-api:latest
    environment: 
      - SQLConnection=Server=hermes_db;Database=hermes;Uid=root;Pwd=679b0e02-3df1-42b8-af8a-f197c6fc7aef;
      - Authentication__Secret=ba25047c-d8df-4ca5-9341-bcef601d9b4d
      - UIServer=http://127.0.0.1
  web:
    image: localhost:5000/hermes-web:latest
    environment: 
      - REACT_APP_HERMES_API_URL=http://127.0.0.1

networks:
  inner:
    driver: overlay