version: "3.9"
services:
  queue:
    image: rabbitmq:3.8.11-management
    ports: [ 15672:15672 ]
    networks: [ inner ]
    volumes:
      - queue_data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=${HERMES_QUEUE_USER}
      - RABBITMQ_DEFAULT_PASS=${HERMES_QUEUE_PASSWORD}
  db:
    image: mysql:5.7.29
    ports: [ 3306:3306 ]
    networks: [ inner ]
    volumes:
      - db_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${HERMES_DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=hermes
  worker:
    image: ${HERMES_REGISTRY}/hermes-worker:latest
    networks: [ inner ]
    environment: 
      - ConnectionString=${HERMES_DB_CONNECTION}
  api:
    image: ${HERMES_REGISTRY}/hermes-api:latest
    ports: [ 8080:8080 ]
    networks: [ inner ]
    environment: 
      - SQLConnection=${HERMES_DB_CONNECTION}
      - Authentication__Secret=${HERMES_API_AUTH_SECRET}
      - UIServer=${HERMES_WEB_URL}
  web:
    image: ${HERMES_REGISTRY}/hermes-web:latest
    ports: [ 80:80, 443:443 ]
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/data/.well-known/acme-challenge:/usr/share/nginx/html/.well-known/acme-challenge
    networks: [ inner ]

networks:
  inner:
    driver: overlay

volumes:
  db_data:
  queue_data: