name: deploy-production

on:
  workflow_run:
    workflows: [ "build-api", "build-web", "build-worker" ]
    branches: [ "master" ]
    types:
      - completed

jobs:
  deploy:
      name: Deploy
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Copy docker-compose.yaml
          uses: appleboy/scp-action@master
          with:
            host: ${{ secrets.SSH_HOST }}
            username: ${{ secrets.SSH_USER }}
            key: ${{ secrets.SSH_KEY }}
            source: "./docker-compose.yaml"
            target: "/root"
        - name: Deploy Stack
          uses: appleboy/ssh-action@v0.1.4
          with:
            host: ${{ secrets.SSH_HOST }}
            username: ${{ secrets.SSH_USER }}
            key: ${{ secrets.SSH_KEY }}
            script: |
              docker stack deploy -c docker-compose.yaml hermes
