name: deploy-production

on:
  workflow_run:
    workflows: [ "build-api", "build-web", "build-worker" ]
    branches: [ "master" ]
    types:
      - completed

jobs:
  deploy:
      name: Deploy
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Copy docker-compose.yaml
          uses: appleboy/scp-action@master
          with:
            host: ${{ secrets.SSH_HOST }}
            username: ${{ secrets.SSH_USER }}
            key: ${{ secrets.SSH_KEY }}
            source: "./docker-compose.yaml"
            target: "/root"
        - name: Deploy Stack
          uses: appleboy/ssh-action@v0.1.4
          with:
            host: ${{ secrets.SSH_HOST }}
            username: ${{ secrets.SSH_USER }}
            key: ${{ secrets.SSH_KEY }}
            script: |
              export HERMES_REGISTRY=${{ secrets.REGISTRY }}
              export HERMES_QUEUE_USER=${{ secrets.QUEUE_USER }}
              export HERMES_QUEUE_PASSWORD=${{ secrets.QUEUE_PASSWORD }}
              export HERMES_DB_ROOT_PASSWORD=${{ secrets.DB_ROOT_PASSWORD }}
              export HERMES_DB_CONNECTION=${{ secrets.DB_SQL_CONNECTION }}
              export HERMES_API_AUTH_SECRET=${{ secrets.API_AUTH_SECRET }}
              export HERMES_WEB_URL=https://emeenki.net
              docker stack deploy -c docker-compose.yaml hermes
