name: deploy-production

on:
  push:
    branches: [ "master" ]
    paths:
      - './.github/workflows/deploy-production.yaml'
  workflow_run:
    workflows: [ "build-api", "build-web", "build-worker" ]
    branches: [ "master" ]
    types:
      - completed

jobs:
  deploy:
      name: Deploy
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Copy docker-compose.yaml
          uses: appleboy/scp-action@v0.0.1
          with:
            host: ${{ secrets.SSH_HOST }}
            username: ${{ secrets.SSH_USER }}
            key: ${{ secrets.SSH_KEY }}
            source: "docker-compose.yml"
            target: "/root/docker-compose.yml"
        - name: Deploy Stack
          uses: appleboy/ssh-action@v0.1.4
          with:
            host: ${{ secrets.SSH_HOST }}
            username: ${{ secrets.SSH_USER }}
            key: ${{ secrets.SSH_KEY }}
            script: |
              export REGISTRY=${{ secrets.REGISTRY }}
              export QUEUE_USER=${{ secrets.QUEUE_USER }}
              export QUEUE_PASSWORD=${{ secrets.QUEUE_PASSWORD }}
              export DB_ROOT_PASSWORD=${{ secrets.DB_ROOT_PASSWORD }}
              export DB_SQL_CONNECTION=${{ secrets.DB_SQL_CONNECTION }}
              export API_AUTH_SECRET=${{ secrets.API_AUTH_SECRET }}
              export WEB_URL=https://emeenki.net
              export API_URL=https://emeenki.net
              docker stack deploy -c docker-compose-yaml hermes
